#displayColorContainer{
    width: 50vw;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.displayColorText{
    color: rgb(134, 73, 73);
}